# API Keys and Secrets (Recursive)
**/.env
**/*.json
!**/firebase-example.json

# Environments
**/venv/
**/env/
**/.venv/

# Python cache
**/__pycache__/
*.pyc

# Models & Large Files
**/*.pkl

# Flutter
.dart_tool/
build/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store