# =========================
# 🔥 Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/

# =========================
# 🔥 Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# 🔥 Models
# =========================
*.pkl

# =========================
# 🔥 Environment
# =========================
*.env

# =========================
# 🔥 Dataset
# =========================
data/
*.csv

# =========================
# 🔥 Logs
# =========================
logs/
*.log

# =========================
# 🔥 IDE
# =========================
.vscode/
.idea/

# =========================
# 🔥 OS
# =========================
Thumbs.db
.DS_Store

# =========================
# 🔥 Firebase / Secrets
# =========================
backend/app/firebase_key.json
mobile_app/android/app/google-services.json
fraud_app/android/app/google-services.json

# =========================
# 🔥 Build / Flutter
# =========================
.dart_tool/
build/

# =========================
# 🔥 Chrome Extension
# =========================
*.crx