# App Configuration
APP_NAME="Cyber AI System"
MONGODB_URL="mongodb+srv://vishalyep1022_db_user:cybersecurity1022@authentication.fiohinw.mongodb.net/?appName=Authentication"
DATABASE_NAME="cyber_ai_db"

# Firebase (Auth, Firestore, FCM)
# Firebase (Auth, Firestore, FCM)
FIREBASE_CREDENTIALS_PATH="cyber-ai-system-firebase-adminsdk-fbsvc-769d8bb033.json"


# External API Keys (Get these from the respective providers)
VIRUSTOTAL_API_KEY="aa01403644cadc47432d4bcd07adefdefc03cbb8ae9dde22b9d7056b678dd89e"
GOOGLE_SAFE_BROWSING_API_KEY="AIzaSyA0Kx3uImbHr-nhCdJuOinH8I-YwGXIiHE"
